:root {
    --white: #cccac2;
    --dark: #161b29;
    --darker: #15182a;
    --accent: #24556f;
    --accent-dark: #253a5e;
    --purple: #bb94de;
    --pink: #e9aee4;
}

html {
    height: 100%;
    margin: 0;
    background-color: var(--dark);
}

body {
    color: var(--white);
    font-family: Koruri, Whitney, Arial, sans-serif;
    margin: 1vh 4vw;
    padding-bottom: 5vw;
}

::selection {
    background-color: var(--accent-dark);
}

img {
    max-width: 100%;
    height: auto;
}

iframe[src*="youtube.com"] {
    width: 800px;
    max-width: 90vw;
    height: auto;
    aspect-ratio: 16 / 9;
}

/* Links */
a:link {
    color: var(--purple);
}

a:visited {
    color: #e48cfa;
}

a:hover {
    color: var(--pink);
}

a:active {
    color: #a673d3;
}

/* Code */
code {
    font-size: 16px;
    background: var(--darker);
    border-radius: 4px;
}

pre {
    outline: 2px solid var(--purple);
    outline-offset: 2px;
    display: inline-block;
    padding: 1rem;
    border-radius: 8px;
}

.language-c\# {
    background-color: var(--dark);
}

.hljs-keyword,
.hljs-built_in {
    color: #6798ff;
}

.hljs-number {
    color: #4ab0e7;
}

.hljs-comment {
    color: #76b668;
}

.hljs-title {
    color: var(--purple);
}

.hljs-string {
    color: var(--pink);
}

.hljs-params {
    color: #d3c4f3;
}

/* Honse */
.h-merry {
    color: #ff6100;
}

.h-knob {
    color: #d2691e;
}

.h-box {
    color: #bfbfbf;
}

.h-resolute {
    color: #ff3636;
}

.h-bullet {
    color: #4169e1;
}

.h-super-amf {
    color: #ffffff;
}

.h-bin {
    color: #00ffff;
}

.h-knifemare {
    color: #838383;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    width: 100%;
    box-sizing: border-box;
}

/* Top navigation bar */
.topnav {
    background-color: var(--darker);
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    line-height: 0;
    width: fit-content;
    margin-left: 10px;
}

.topnav a {
    color: var(--white);
    text-align: center;
    padding: 17px 10px;
    text-decoration: none;
    font-size: 17px;
    outline: var(--accent-dark) solid 3px;
    display: block;
}

.topnav a:hover {
    background-color: var(--accent);
}

.active {
    background-color: var(--accent-dark);
}

/* Link directory */
.directory {
    background-color: var(--darker);
    display: inline-flex;
    height: 18px;
    line-height: 18px;
    vertical-align: top;
    margin-top: -36px;
    margin-left: 70px;
}

.directory p {
    margin-top: 3px;
    line-height: 18px;
}

.directory a {
    color: var(--white);
    text-align: center;
    padding: 0 8px;
    text-decoration: none;
    font-size: 12px;
    outline: var(--accent-dark) solid 3px;
    display: inline-block;
    line-height: 18px;
    vertical-align: top;
}

.directory a:hover {
    background-color: var(--white);
    color: var(--dark);
}

.loc {
    background-color: var(--accent-dark);
}

/* Tables */
table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid var(--white);
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: var(--darker);
}

.table1 {
    width: 180%;
}

hr {
    border-color: var(--accent);
}

/* Mobile-only line breaks */
@media screen and (min-width: 700px) {
    .mobile-break {
        display: none;
    }
}
